html
  head
    title My first Three.js app
    style
      canvas { width: 100%; height: 100% }
  body
    script(src='/javascripts/three.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/main.js')
