body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*.video-container { position: relative; width: 640; height: 1136; }*/
/*video { width: 640; height: 1136;}*/